body {
	margin: 0;
	padding: 0;

  font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size: 14px;
  line-height: 24px;
  font-weight: 700;
	color: white;
  text-transform: uppercase;

	background-color: black;
  background-image: url('../img/background-image.jpg');
  background-position: center top;
  background-repeat: no-repeat;
}

.inner-page {
  color: black;

  background-color: #f8f5f2;
  background-image: url('../img/bg_square.jpg');
  background-position: 0 0;
  background-repeat: repeat;
}

.main-header {
  background-color: black;
}

a {
  text-decoration: none;

  color: inherit;
}

.site-menu,
.user-menu {
  font-size: 16px;
  line-height: 20px;

  list-style: none;
}

.site-menu a:hover,
.site-menu a:focus,
.user-menu a:hover,
.user-menu a:focus {
  background-color: #242424;
  outline: none;
}

.site-menu .current {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-size: 4px; 
}

.features-list {
  list-style: none;
}

.feature-item h3,
.main-column h2,
.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.feature-item {
  text-align: center;
}

.main-column,
.modal-login {
  color: black;

  background-color: #f8f5f2;
  background-image: url('../img/bg_square.jpg');
  background-position: 0 0;
  background-repeat: repeat;
}

.modal-login {
  box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
}

.news time {
  text-transform: none;
}

.button {
  text-align: center;
  vertical-align: middle;
  color: #f7f4f1; 

  background-color: black;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #663d15;
  outline: none;
}

.container button.button,
.modal button.button {
  font: inherit;
  text-transform: inherit;

  border: none;
}

.gallery-item,
.modal-map img {
  outline-color: white;
  outline-style: solid;
  outline-width: 7px;
  box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
}

.appointment-form-item input,
.modal input {
  font: inherit;

  background-color: transparent;
  border-color: #000101;
  border-style: solid;
  border-width: 2px;
}

.appointment-form-item input:focus,
.modal input:focus {
  border-color: #663d15;
  outline: none;
}

.main-footer {
  background-color: #232323;
  background-image: url('../img/bg_square_dark.jpg');
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:active,
.footer-contacts a:focus {
  text-decoration: none;
  border-color: white;
}

.footer-social,
.footer-copyright {
  text-align: center;
}

.social-list-item {
  list-style: none;
}

.social-button:hover,
.social-button:focus,
.social-button:active,
.button-copyright:hover,
.button-copyright:focus,
.button-copyright:active {
  color: black;

  background-color: white;
}

.login-form-restore {
  text-decoration: underline;
  text-decoration-color: #bab7b5;
}

.login-form-restore:hover,
.login-form-restore:focus,
.login-form-restore:active {
  text-decoration: none;
  border-color: #bab7b5;
} 

.login-form-remember-field {
  background-image: url('../img/cross.svg');
  background-position: center center; 
  background-repeat: no-repeat;  
}

.login-form-item-remember:hover {
  color: #663d15;
}

.login-form-item-remember input {
  outline-color: #000101;
  outline-style: solid;
  outline-width: 2px;
}

.login-form-item-remember input:hover,
.login-form-item-remember input:focus,
.login-form-item-remember input:active {
  color: black;
  
  outline-color: #000101;
  outline-style: solid;
  outline-width: 2px;
}

/*.modal input {
  background-color: #f9f6f3;
}*/

.modal-close-button {
  color: #d0d0d0;

  background-color: transparent;
  background-image: url('../img/cross.svg');
  background-position: center center; 
  background-repeat: no-repeat;
  border: none;  
}

.modal-close-button:hover,
.modal-close-button:active,
.modal-close-button:focus {
  outline-color: #d0d0d0;
}

.inner-page .main-header,
.inner-page .main-footer {
  color: white;
}

.inner-page h1 {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 20px;

  list-style: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  outline: none;
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 24px;
  line-height: 30px;
}

.filters ul {
  list-style: none;
  line-height: 18px;
}

.production-checkbox:hover + label,
.production-checkbox:focus + label{
  color: #663d15;
}

.production-checkbox:disabled + label{
  color: black;

  opacity: 0.5;
}

.product-group-item-input:hover + label,
.product-group-item-input:focus + label{
  color: #663d15;
}

.production-item input {
  outline-width: 2px;
  outline-style: solid;
  outline-color: black;
}

.production-item input[checked="checked"] {
  background-image: url('..img/cross.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.catalog-list {
  list-style: none;
}

.catalog-list-item b,
.catalog-list-item h3,
.catalog-price .button {
  font-size: 14px;
  line-height: 18px;
}

.catalog-price .button {
  color: white;
}

.catalog-list-item .catalog-category {
  text-transform: none;
}

.catalog-list-item {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.catalog-list-item:hover,
.catalog-list-item:focus {
  box-shadow: 5px 5px 25px rgba(0, 1, 1, 0.3);
}

.catalog-list-item .catalog-image {
  background-color: #f7f7f7;
}

.catalog .price {
  text-align: center;

  background-color: #e5e5e5;
}

.paginaton-list {
  list-style: none;
}

.paginaton-item a{
  color: white;
  font-size: 14px;
  line-height: 18px;

  background-color: black;
}

.paginaton-item a:hover,
.paginaton-item a:focus,
.paginaton-item a:active {
  background-color: #663d15;
}

.paginaton-item-current a,
.paginaton-item-current a:hover,
.paginaton-item-current a:focus,
.paginaton-item-current a:active {
  color: black;

  background-color: white;
}

.item-image-preview {
  list-style: none;
}

.item-gallery .item-image-full,
.item-image-preview li>img {
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.product-description {
  font-size: 14px;
  line-height: 24px;
}

.product-description h3{
  font-size: 24px;
  line-height: 30px;
}

.product-articul {
  text-align: right;
  color: #aeaeae;
}

.product-price b {
  text-align: center;

  background-color: #aeaeae;
}

.product-price button {
  color: white;
}

.product-consistOf-list {
  list-style: none;
}

/*.inner-page .main {
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.5);
}*/
