body {
	margin: 0;
	padding: 0;

  font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size: 14px;
  line-height: 24px;
  font-weight: 700;
	color: white;
  text-transform: uppercase;

	background-color: black;
  background-image: url('../img/background-image.jpg');
  background-position: center top;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;

  color: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.inner-page {
  color: black;

  background-color: #f8f5f2;
  background-image: url('../img/bg_square.jpg');
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-header {
  margin-bottom: 55px;
  background-color: black;
}

.main-menu {
  display: flex;
  flex-direction: column;
}

.inner-page .main-menu {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.main-header-logo {
  order: 2;
  align-self: center;
  width: 371px;
  height: 155px;
  margin-bottom: 70px;
}

.inner-page .main-header-logo {
  order: unset;
  align-self: auto;
  width: 111px;
  height: 24px;
  margin: 0;
  /*margin-left: 150px;*/
  padding: 0;
  padding-left: 30px;
  padding-right: 29px; 
}

.menu-wrapper {
  width: 100%;
  margin-bottom: 60px; 

  background-color: black; 
}

.main-menu .flex-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.site-menu {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  padding: 0;
  margin: 0;
}

.site-menu li,
.user-menu li {
  display: block;
  min-height: 70px;
}


.site-menu a,
.user-menu a {
  display: block;
  box-sizing: border-box;
  min-height: 70px;
  padding: 25px 20px;
}

.user-menu a {
  position: relative;

  padding-left: 45px;
}

.user-menu .login-link::before {
  position: absolute;
  left: 20px;
  top: 27px;

  content: "";
  width: 16px;
  height: 16px;

  background-image: url('../img/login.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-menu .login-link:focus::before,
.user-menu .login-link:hover::before,
.user-menu .login-link:active::before {
  opacity: 1;
}

.inner-page .site-menu {
  margin: 0;
}

.user-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 220px;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.inner-page .user-menu {
  max-width: 140px;
  margin: 0;
  margin-left: auto;
}

.site-menu,
.user-menu {
  font-size: 16px;
  line-height: 20px;

  list-style: none;
}

.site-menu a:focus,
.site-menu a:hover,
.user-menu a:focus, 
.user-menu a:hover {
  background-color: #242424;
  outline: none;
}

.site-menu .current > a {
  padding-bottom: 21px;

  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-size: 4px; 
}

.container {
  width: 940px;
  margin: 0 auto;
}

.features {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item h3,
.main-column h2,
.modal h2 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.feature-item {
  box-sizing: border-box;
  width: 300px;
  padding: 0 0;

  text-align: center;
}

.feature-item h3 {
  position: relative;
  margin-bottom: 60px;
}

.feature-item h3:after {
  position: absolute;
  left: 50%;
  top: 60px;

  content: '';
  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #f7f4f1;

  transform: rotate(45deg);
}

.feature-item p,
.main-column p {
  margin: 0;
  padding: 0;
}

.feature-item p {
  margin: 0 10px;
}

.main-column {
  color: black;

  background-color: #f8f5f2;
  background-image: url('../img/bar.png'),
                    url('../img/bg_square.jpg');
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.modal-login {
  color: black;

  background-color: #f8f5f2;
  background-image: url('../img/bg_square.jpg');
  background-position: 0 0;
  background-repeat: repeat;
}

.main-column {
  display: flex;
  justify-content: space-between;
  padding: 45px 80px;
}

.main-column .news,
.main-column .contacts {
  width: 380px;
}

.main-column .gallery,
.main-column .appointment {
  width: 300px;
}

.news-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-column:first-of-type {
  margin-bottom: 35px;
}

.main-column h2,
.main-column time {
  display: block;
  margin-bottom: 20px;
}

.modal-login {
  box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
}

.news time {
  text-transform: none;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  min-height: 45px;
  padding: 10px 35px;

  color: #f7f4f1; 

  background-color: black;
}

.button:focus,
.button:hover,
.button:active {
  background-color: #663d15;
  outline: none;
}

.container .button:disabled,
.container .button.disabled {
  opacity: 0.5;
  cursor: default;
  background-color: black;
}

.container button.button,
.modal button.button {
  font: inherit;
  text-transform: inherit;

  border: none;
}

.gallery {
  position: relative;
}

.gallery-item,
.modal-map img {
  border-color: white;
  border-style: solid;
  border-width: 7px;
}

.gallery-item {
  display: block;
  margin-bottom: 38px;
}

.gallery-item:focus,
.gallery-item:hover {
  outline: 2px solid #663d15;
}

.gallery .gallery-button {
  position: absolute;
  bottom: 0;
  width: 140px;
}

.gallery .gallery-button-back {
  left: 0;
}

.gallery .gallery-button-next {
  right: 0;
}

.contacts p {
  margin-bottom: 20px;
}

.contacts .contacts-button-map {
  margin-right: 16px;
}

.modal-map img {
  box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
}

.appointment .appointment-info {
  margin-bottom: 10px;
}

.appointment .appointment-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment .appointment-form-item {
  box-sizing: border-box;
  width: 140px;
  margin-bottom: 10px;
}

.appointment .appointment-form-item:last-of-type {
  margin-bottom: 20px;
}

.appointment-form-item .appointment-form-label {
  display: block;
  padding-left: 17px;
  padding-bottom: 7px;
}

.appointment-form-item input,
.modal input {
  box-sizing: border-box;
  width: 140px;
  padding: 8px 0;
  padding-left: 15px;

  font: inherit;

  background-color: transparent;
  border-color: #000101;
  border-style: solid;
  border-width: 2px;
}

.appointment .appointment-form-button {
  width: 100%;
}

.appointment-form-item input:focus,
.modal input:focus {
  border-color: #663d15;
  outline: none;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  background-color: #232323;
  background-image: url('../img/bg_square_dark.jpg');
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-footer {
  margin-top: 50px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-footer .footer-contacts {
  width: 380px;
  margin: 0;
  padding: 0;
}

.main-footer .footer-social {
  width: 140px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.footer-social .social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-social .social-button {
  width: 43px;
  min-height: 43px;
  padding: 0;
}

.footer-social .social-button.vk {
  background-image: url('../img/vk.svg');
  background-position: center;
  background-repeat: no-repeat; 
}

.footer-social .social-button.vk:hover,
.footer-social .social-button.vk:focus,
.footer-social .social-button.vk:active {
  background-image: url('../img/vk_black.svg');
}

.footer-social .social-button.fb {
  background-image: url('../img/facebook.svg');
  background-position: center;
  background-repeat: no-repeat; 
}

.footer-social .social-button.fb:focus,
.footer-social .social-button.fb:hover,
.footer-social .social-button.fb:active {
  background-image: url('../img/facebook_black.svg');
}

.footer-social .social-button.inst {
  background-image: url('../img/instagram.svg');
  background-position: center;
  background-repeat: no-repeat; 
}

.footer-social .social-button.inst:focus,
.footer-social .social-button.inst:hover,
.footer-social .social-button.inst:active {
  background-image: url('../img/instagram_black.svg');
}

.main-footer .footer-copyright {
  width: 140px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.footer-copyright .button {
  display: block;
  min-height: 44px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 10px;
}

.footer-contacts a {
  text-decoration: underline;
}

.footer-contacts a:focus,
.footer-contacts a:hover,
.footer-contacts a:active {
  text-decoration: none;
  border-color: white;
}

.footer-social,
.footer-copyright {
  text-align: center;
}

.social-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.social-button:focus,
.social-button:hover,
.social-button:active,
.button-copyright:focus,
.button-copyright:hover,
.button-copyright:active {
  color: black;

  background-color: white;
}

.footer-social .social-button.fb {
  background-image: url('../img/facebook.svg');
  background-position: center;
  background-repeat: no-repeat; 
}

.footer-social .social-button.inst {
  background-image: url('../img/instagram.svg');
  background-position: center;
  background-repeat: no-repeat; 
}

.login-form-restore {
  text-decoration: underline;
  text-decoration-color: #bab7b5;
}

.login-form-restore:focus,
.login-form-restore:hover,
.login-form-restore:active {
  text-decoration: none;
  border-color: #bab7b5;
} 

.login-form-remember-field {
  background-image: url('../img/cross.svg');
  background-position: center center; 
  background-repeat: no-repeat;  
}

.login-form-item-remember:hover {
  color: #663d15;
}

.login-form-item-remember input {
  outline-color: #000101;
  outline-style: solid;
  outline-width: 2px;
}

.login-form-item-remember input:focus,
.login-form-item-remember input:hover,
.login-form-item-remember input:active {
  color: black;
  
  outline-color: #000101;
  outline-style: solid;
  outline-width: 2px;
}

/*.modal input {
  background-color: #f9f6f3;
}*/

.modal-close-button {
  color: #d0d0d0;

  background-color: transparent;
  background-image: url('../img/cross.svg');
  background-position: center center; 
  background-repeat: no-repeat;
  border: none;  
}

.modal-close-button:focus,
.modal-close-button:hover,
.modal-close-button:active {
  outline-color: #d0d0d0;
}

.inner-page .main-header,
.inner-page .main-footer {
  color: white;
}

.inner-page h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  font-size: 14px;
  line-height: 20px;

  list-style: none;
}

.breadcrumbs a:focus,
.breadcrumbs a:hover {
  outline: none;
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.shop-flex-container {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 180px;
}

.filters fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filters legend {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
}

.filters ul {
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 18px;
}

.filters li {
  margin-bottom: 17px;
}

.filters .production-checkbox {
  margin-right: 23px;
}

.filters .production-list {
  margin-bottom: 30px;
}

.filters .product-group-list {
  margin-bottom: 35px;
}

.filter-form-button {
  margin: 0;
  padding: 0;
  width: 112px;
}

.production-checkbox:focus + label,
.production-checkbox:hover + label {
  color: #663d15;
}

.production-checkbox:disabled + label {
  color: black;

  opacity: 0.5;
}

.product-group-item-input:focus + label,
.product-group-item-input:hover + label {
  color: #663d15;
}

.production-item input {
  outline-width: 2px;
  outline-style: solid;
  outline-color: black;
}

.production-item input[checked="checked"] {
  background-image: url('..img/cross.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 700px;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;
}

.catalog-list-item {
  /*margin-right: 20px;*/
  margin-bottom: 20px;
  width: 220px;
}

.catalog-list-item > a {
  display: flex;
  flex-direction: column;
}

.catalog-list-item .catalog-image {
  order: -1;

  margin-bottom: 15px;
}

.catalog-list-item p {
  margin: 0;
  padding: 0;
}

.catalog-list-item b,
.catalog-list-item h3,
.catalog-price .button {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
}

.catalog-list-item h3,
.catalog-list-item .catalog-price {
  margin-bottom: 15px;
  padding-left: 15px;
}

.catalog-price {
  display: flex;
}

.catalog-price .price {
  width: 109px;
}

.catalog-price .button {
  width: 78px;

  color: white;
}

.catalog-list-item .catalog-category {
  text-transform: none;
}

.catalog-list-item {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.catalog-list-item:focus,
.catalog-list-item:hover {
  box-shadow: 5px 5px 25px rgba(0, 1, 1, 0.3);
}

.catalog-list-item .catalog-image {
  background-color: #f7f7f7;
}

.catalog .price {
  text-align: center;

  background-color: #e5e5e5;
}

.paginaton-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.paginaton-list .paginaton-item {
  width: 43px;
  margin-right: 7px;
}

.paginaton-item a {
  display: block;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: white;

  background-color: black;
}

.paginaton-item a:focus,
.paginaton-item a:hover,
.paginaton-item a:active {
  background-color: #663d15;
}

.paginaton-item-current a,
.paginaton-item-current a:focus,
.paginaton-item-current a:hover,
.paginaton-item-current a:active {
  color: black;

  background-color: white;
}

.item-flex-container {
  display: flex;      /* Для ИЕ ПРЕФИКСЫ!!!!!!!!!!*/
}

.item-flex-container p,
.product-description p {
  margin: 0;
  padding: 0;
}

.item-gallery {
  width: 460px;
  margin-right: 90px;
}

.item-gallery p {
  width: 460px;
  height: 498px;
  margin-bottom: 20px;
}

.item-image-preview {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.item-image-preview img {
  margin-right: 20px;
}

.item-gallery .item-image-full,
.item-image-preview li>img {
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.product-description {
  width: 400px;
  margin-top: 20px;

  font-size: 14px;
  line-height: 24px;
}

.product-description h3{
  font-size: 24px;
  line-height: 30px;
}

.product-status {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

.product-articul {
  text-align: right;
  color: #aeaeae;
}

.product-description p.product-text-description {
  margin-bottom: 40px;
}

.product-description .product-price {
  margin-bottom: 60px;
}

.product-price b {
  text-align: center;

  background-color: #aeaeae;
}

.product-price button {
  color: white;
}

.product-consistOf-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/*.inner-page .main {
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.5);
}*/
